.anne-header {
    font-size: 4rem;
    font-weight: lighter;
    padding-left: 5%;
    width: 100%;
}

.anne-intro {
    text-align: left;
    padding-left: 4%;
    padding-top: 5%;
    width: 35%;
}

.anne-whoami {
    font-size: 1.2rem;
    font-weight: lighter;
}

.anne-profile-pic {
    width: 250px;
}

.vert-navbar {
    position: fixed;
    bottom: 5%;
    left: 5%;
    font-size: 2rem;
    line-height: 2;
    font-weight: lighter;
}

.navbar-link {
    transition: all 0.3s ease-in-out;
}

.navbar-link:hover {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 4px 4px #002082;
}